@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

/* ------------ Reset some defaults ------------ */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Fustat', "Helvetica", sans-serif;
  background-color: #111827;
  color: #fff;
}

p, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

header,
main {
  width: 100%;
  padding: 20px;
}

header {
  display:flex;
  flex-direction: column;
}

.controls {
  margin: 0px auto;
  width: 100%;
}

.controls>div {
  color: #1e1e1e;
  padding: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
}

.controls>div>select {
  background-color: #1f2937;
  border-radius: 15px;
  border:1px solid #ffffff1a;
  padding: 14px;
  color: #fff;
  font-family: 'Fustat', "Helvetica", sans-serif;
}

/* ------------ Pizzerias Section ------------ */

.pizzerias-list {
  width:100%;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
	gap: 1.5rem;
  margin:auto;
  padding-bottom: 20px;

}

.pizzeria {
  display:flex;
  flex-direction:column;
  background-color: #1f2937;
  border-radius: .75rem;
  padding:10px;
  border:1px solid #ffffff1a;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.pizzeria-hero {
  height:30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}

.pizzeria-hero > a {
  background-color:#1118276b;
  display:block;
  z-index:10;
  height:100%;
  line-height:30vh;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight:bold;
  text-align:center;
  transition:all 0.2s ease-in-out;
}

.pizzeria-hero > a:hover {
  cursor: pointer;
  color:transparent;
  background-color:transparent;
}

.pizzeria-info {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  margin:10px auto;
  gap:10px;
  padding: 10px;
  background-color:#111827;
  border-radius:10px;
  box-shadow: rgba(33, 32, 32, 0.4) 0px 2px 8px 0px;
}

.pizzeria-info > a:hover::after {
  content: "On y va ? 😊";
  color:#fff;
  background-color:#984447;
  font-weight: bold;
  padding:3px;
  border-radius:5px;
  position:absolute;
  z-index:1000;
  transform: translateY(-4px) translateX(5px);
}

.comment {
  padding:10px 0px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.comment > h3 {
  padding-bottom:5px;
}

.comment > div {
  display:flex;
  gap:5px;
  font-size: 0.8em;
}

/* ---- PAGINATION CONTROLS ---- */

#pagination-controls {
  width:100%;
  display:flex;
  justify-content:center;
  gap:10px;
  margin:20px;
}

#pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  transition:all .3s;
}

#pagination-controls button.active, #pagination-controls button.active:hover {
  background-color: #fff;
  color:#1f2937;
}

#pagination-controls button:hover {
  background-color: #ffffffa8;
  color:#1f2937;
}

/* ------------ RESPONSIVE STYLES ------------ */

@media (max-width: 768px) {

  header {
    position: relative; /* Ensure the parent has a position context */
    overflow: visible; /* Allow sticky behavior */
  }
  
  .controls {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .controls > div {
    width:100%;
  }

  .pizzerias-list {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin:auto;
    padding-bottom: 30px;
  }

  .comment {
    gap: 5px;
  }

  .pizzeria-info > a:hover::after {
    content: "";
    display:none;
  }

  .pizzeria-info > a::after {
    content: "On y va ? 😊";
    color:#fff;
    background-color:#9844476a;
    font-weight: bold;
    padding:3px;
    border-radius:5px;
    position:absolute;
    z-index:1000;
    transform: translateY(-4px) translateX(15px);
    }
  
}